<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <title>Registration form </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}"/>

    <script type="text/javascript" src="{% static "js/jquery-1.10.2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
</head>
<body>


<div class="container">

<div class="page-header">
    <h1>Registration form </h1>
</div>

<!-- Registration form - START -->
<div class="container">
    <div class="row">
        <form role="form" action="register" method='POST'> {% csrf_token %}
            <div class="col-lg-6">
                <div class="well well-sm" style="font-size:10px;background-color:#ffffff;"><span class="glyphicon glyphicon-asterisk"></span>Required Field</div>
                <div class="form-group">
                    <label for="InputName">First Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="InputFirstName" id="InputFirstName" placeholder="Enter First Name" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputLastName">Last Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="InputLastName" name="InputLastName" placeholder="Enter Last Name" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Enter Email</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputPassword">Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="InputPassword" name="InputPassword" placeholder="********" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputConfirmPassword">Confirm Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="InputConfirmPassword" name="InputConfirmPassword" placeholder="********" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputCity">City</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="InputCity" name="InputCity" placeholder="eg:Bangalore" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputState">State</label>
                    <div class="input-group">
                        <select name="InputState">
                        <option value="null">-- Select State --</option>
                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                        <option value="Assam">Assam</option>
                        <option value="Bihar">Bihar</option>
                        <option value="Chandigarh">Chandigarh</option>
                        <option value="Chhattisgarh">Chhattisgarh</option>
                        <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                        <option value="Daman and Diu">Daman and Diu</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Goa">Goa</option>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Haryana">Haryana</option>
                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                        <option value="Jharkhand">Jharkhand</option>
                        <option value="Karnataka">Karnataka</option>
                        <option value="Kerala">Kerala</option>
                        <option value="Lakshadweep">Lakshadweep</option>
                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Manipur">Manipur</option>
                        <option value="Meghalaya">Meghalaya</option>
                        <option value="Mizoram">Mizoram</option>
                        <option value="Nagaland">Nagaland</option>
                        <option value="Orissa">Orissa</option>
                        <option value="Pondicherry">Pondicherry</option>
                        <option value="Punjab">Punjab</option>
                        <option value="Rajasthan">Rajasthan</option>
                        <option value="Sikkim">Sikkim</option>
                        <option value="Tamil Nadu">Tamil Nadu</option>
                        <option value="Tripura">Tripura</option>
                        <option value="Uttaranchal">Uttaranchal</option>
                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                        <option value="West Bengal">West Bengal</option>
                        </select>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                </br>
                <div class="form-group">
                    <label>Are You?</label>
                    </br>
                    
                    <div class="input-group">
                        <label><input type="radio" class="form-control" id="personal" value="mentor" name="ment"> Mentor </label>
                        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<label><input type="radio" class="form-control" id="Learn" name="ment" value="mentee"> Mentee </label>
                        

                    </div>
                </div>
                </br>
                <div class="form-group col-lg-10">
                    <label>What you are using EnAble India for?</label>
                    </br>
                    
                    <div class="input-group">
                    <div class="col-lg-4"><label><input type="checkbox" class="form-control" id="personal"> Personal </label></div>
                    <div class="col-lg-4"> <label><input type="checkbox" class="form-control" id="Learn"> Learning </label></div>
                     <div class="col-lg-4"><label><input type="checkbox" class="form-control" id="Job">Get Job</label></div>

                    </div>
                </div>
                
                <div class="form-group">
                    <label for="InputMessage">Specialization</label>
                    <div class="input-group">
                        <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                
                <div class="form-group">
                    <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
                    </br></br></br>
            </div>
        </form>
        
    </div>
</div>
<!-- Registration form - END -->

</div>
</body>
</html>