<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    {% load static %}
    <title>Registration form </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href={% static "css/bootstrap.min.css" %}/>
    <link rel="stylesheet" type="text/css" href={% static "css/font-awesome.min.css" %}/>

    <script type="text/javascript" src={% static "js/jquery-1.10.2.min.js" %}></script>
    <script type="text/javascript" src={% static "js/bootstrap.min.js" %}></script>
</head>
<body>

<div class="container">

<div class="page-header">
    <h1>Registration form </h1>
</div>

<!-- Registration form - START -->
<div class="container">
    <div class="row">
        <form >
            <div class="col-lg-6">
                <div class="well well-sm"><span class="glyphicon glyphicon-asterisk"></span>Required Field</div>
                <div class="form-group">
                    <label for="InputName">First Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="InputFirstName" id="InputFirstName" placeholder="Enter First Name" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputLastName">Last Name</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="InputLastName" name="InputLastName" placeholder="Enter Last Name" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
				<div class="form-group">
                    <label for="InputEmail">Enter Email</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputPassword">Password</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="InputPassword" name="InputPassword" placeholder="********" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
				<div class="form-group">
                    <label for="InputConfirmPassword">Confirm Password</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="InputConfirmPassword" name="InputConfirmPassword" placeholder="********" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
				<div class="form-group">
                    <label for="InputCity">City</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="InputCity" name="InputCity" placeholder="eg:Bangalore" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
				<div class="form-group">
                    <label for="InputState">State</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="InputState" name="InputState" placeholder="eg:Karnataka" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
				<div class="form-group">
                    <label for="InputPincode">Pincode</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="InputPincode" name="InputPincode" placeholder="eg:560001" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
				<div class="form-group">
					<label>SKILLS</label>
					
					<div class="input-group">
						<label><input type="checkbox" class="form-control" id="personal"> Personal</label>
						&nbsp &nbsp &nbsp &nbsp<label><input type="checkbox" class="form-control" id="Learn"> Learn</label>
						&nbsp &nbsp &nbsp &nbsp<label><input type="checkbox" class="form-control" id="Job"> Job</label>

					</div>
				</div>
                <div class="form-group">
					<input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
            </div>
        </form>
        
    </div>
</div>
<!-- Registration form - END -->

</div>

</body>
</html>